asyncio==3.4.3
certifi==2024.6.2
charset-normalizer==3.3.2
evdev==1.7.1
idna==3.7
numpy==2.0.0
psutil==6.0.0
pynput==1.7.7
python-xlib==0.33
requests==2.32.3
six==1.16.0
urllib3==2.2.2
websockets==12.0
